<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="CardDraftSheet" class="card card-bordered">
		<script th:inline="javascript">
			var detailDraftSheetFormatStr = ' <span class="font-weight-bold">{d.id} | '+
	        								'[(#{entity.draft.route.author})]:</span> {d.author}';

	        var cardDraftSheetPagesUrl = [[@{${T(ua.com.sipsoft.util.AppURL).API_V1_DRAFT_RSHEET}}]]+'/pages';
	        var canEditCardDraftSheet = true;
			var buttonsCardDraftSheetBtnContent =  
				'<a class="btn btn-xs btn-link text-primary pl-0 pr-0" data-name="editButton">' +
					'<i class="[(@{${T(ua.com.sipsoft.util.UIIcon).BTN_EDIT.getClassCSS()}})]" title="[(#{button.edit})]"></i>' +
				'</a>'+
				'<a class="btn btn-xs btn-link text-primary pl-0 pr-0" data-name="infoButton">' +
					'<i class="[(@{${T(ua.com.sipsoft.util.UIIcon).INFO.getClassCSS()}})]" title="[(#{button.info})]"></i>' +
				'</a>';
 		</script>
		<div class="card-body">
			<h4 class="header-title" th:text="#{card.draft.sheets}">Draft
				Route sheet table</h4>
			<div class="card-text">
				<div class="data-tables datatable-dark table-responsive-sm">
					<table id="draftsheet-table"
						class="table table-striped table-hover table-sm table-bordered"
						style="width: 100%">
						<thead class="text-capitalize">
							<tr>
								<th></th>
								<th th:text="#{grid.colum.actions}">Actions</th>
								<th th:text="#{entity.draft.route.creation.date}">Created</th>
								<th th:text="#{entity.draft.route.description}">Description</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		<script src="assets/requests/draft/CardDraftSheet.js"></script>
	</div>
</body>
</html>