<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
<link th:rel="stylesheet"
	th:href="@{assets/datatable/datatables.min.css}" />
<link th:rel="stylesheet"
	th:href="@{assets/datatable/DataTables-1.10.20/css/dataTables.bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" />
	
	
<link th:rel="stylesheet"
	th:href="@{assets/datatable/Responsive-2.2.3/css/responsive.bootstrap.min.css}" />
<th:block th:insert="fragments/page-parts :: body/head"></th:block>

<title th:text="#{app.title.draftsheet}">Title</title>
</head>

<body>
	<!-- preloader area start -->
	<div th:replace="fragments/template :: body/preloader"></div>
	<!-- preloader area end -->

	<!-- page container area start -->
	<div class="page-container">

		<!-- sidebar menu area start -->
		<div th:replace="fragments/template :: body/sidebar-menu"></div>
		<!-- sidebar menu area end -->

		<!-- main content area start -->
		<div class="main-content">

			<!-- header area start -->
			<div th:replace="fragments/template :: body/header-area"></div>
			<!-- header area end -->

			<!-- page title area start -->
			<div
				th:replace="fragments/template :: body/page-title-area(~{::h4},~{::li})">
				<h4 class="page-title fa-pull-left"
					th:text="#{menu.main.routesheets.drafts}">Title</h4>
				<li><span th:text="#{menu.main.routesheets.drafts}">Drafts</span></li>
			</div>
			<!-- page title area end -->

			<div class="main-content-inner p-1">
				<div th:replace="requests/draft/DraftsMain :: body"></div>
			</div>
		</div>
		<!-- main content area end -->

		<!-- footer area start-->
		<footer>
			<div class="footer-area">
				<div th:replace="fragments/page-parts :: body/footer"></div>
			</div>
		</footer>
		<!-- footer area end-->

	</div>
	<!-- page container area end -->

	<!-- offset area start -->
	<div th:replace="fragments/template :: body/offset-area"></div>

	<div th:replace="fragments/page-parts :: body/bottom"></div>
	
	<script src="assets/requests/draft/CardDraftSheet.js"></script>
	
	<!-- Edit Facility modal form part -->
	<div th:replace="requests/draft/DraftSheetEditor :: body/draftSheetEditor"></div>

	
	
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

	<script
		th:src="@{assets/datatable/DataTables-1.10.20/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
		
		
	<script
		th:src="@{assets/datatable/DataTables-1.10.20/js/dataTables.bootstrap.min.js}"></script>
	<script
		th:src="@{assets/datatable/Responsive-2.2.3/js/dataTables.responsive.min.js}"></script>
	<script
		th:src="@{assets/datatable/Responsive-2.2.3/js/responsive.bootstrap.min.js}"></script>

	<script th:src="@{assets/datatable/datatables.min.js}"></script>

	<script type="text/javascript"
		src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>


	<th:block
		th:replace="fragments/scripts/datatables :: body/true_false_show_check_func" />
	</th:block>

</body>

</html>