<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<div th:fragment="facilityEditor" class="modal fade"
		id="editFacilityModal" tabindex="-1" role="dialog"
		aria-labelledby="editFacilityLabel" aria-hidden="true">
		<form id="editFacilityForm">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content login-s2">
					<div class="modal-header">
						<div id="editFacilityNum" style="display: none;"
							class="container row">
							<h5 id="editFacilityLabel" class="modal-title"
								th:text="#{entity.facility.edit}" style="display: inline;">Edit
								Facility</h5>
							<h5 id="editFacilityLabelId" class="modal-title ml-1"
								data-name="id" data-value="0">1</h5>
						</div>
						<div id="addFacilityNum" style="display: none;">
							<h5 class="modal-title" id="addFacilityLabel"
								th:text="#{entity.facility.add}">Add Facility</h5>
						</div>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="text-primary" for="nameEdit"
								th:text="#{entity.facility.name}">Name</label>
							<div class="input-group form-row">
								<input class="form-control border-right-0 bg-transparent"
									type="text" id="nameEdit" name="name">
								<div class="input-group-append input-group-text border-left-0">
									<i class="fas fa-city"></i>
								</div>
							</div>
							<div class="text-danger form-row mr-1" data-name="name"
								hidden="true">
								<p class="alert alert-danger w-100 mb-0">Validation error</p>
							</div>
							<div id="fEF-header" class="modal-header">
								<div class="container row">
									<h5 class="modal-title" th:text="#{entity.facilityaddr.add}">Add
										Facility Address</h5>
								</div>
							</div>
							<div
								th:replace="facility/facilityAddrEditorFields :: body/facilityAddrEditorFields(fragmentId='fEF',hide='false')"></div>
						</div>
						<div class="text-danger form-row mr-1" th:data-name="editForm"
							hidden="true">
							<p class="alert alert-danger w-100 mb-0">Validation error</p>
						</div>
					</div>
					<div class="modal-footer">
						<button id="addNewFacilityButton" type="submit"
							class="btn btn-primary" th:text="#{button.add}"
							style="display: none;">Add</button>
						<button id="updateFacilityButton" type="submit"
							class="btn btn-primary" th:text="#{button.save}"
							style="display: none;">Save</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" th:text="#{button.close}">Close</button>
					</div>
				</div>
			</div>
		</form>
		<script th:inline="javascript">
			var PostNewFacilityUrl = [[@{${T(ua.com.sipsoft.util.AppURL).API_V1_FACILITIES}}]];
			var PutFacilityUrl = [[@{${T(ua.com.sipsoft.util.AppURL).API_V1_FACILITIES}}]];
			var GetFacilityUrl = [[@{${T(ua.com.sipsoft.util.AppURL).API_V1_FACILITIES}}]];
		</script>
    	<script src="assets/facility/facility-edit.js"></script>

	</div>
</body>

</html>